body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: #333333;
}

h3 {
    font-size: 21px;
    font-weight: 700;
}

h5 {
    font-size: 14px;
    font-weight: 600;
}

p {
    font-size: 16px;
    color: #333333;
}
.bg-amarillo {
    background-color: #F18008;
    height: 6vh;
}

section a {
    font-size: 12px;
}


nav ul li a {
    font-size: 13px;
    font-weight: 700;
    color: black;
}

header {
    background-image: url(../img/slide_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 50vh;
}

.energia{
    background-image: url(../img/slide_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 40vh;
}

.estructuras-metalicas {
    background-image: url(../img/banner_estructurasmetalicas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 40vh;
}

.servicios-especiales {
    background-image: url(../img/banner_serviciosespeciales.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 40vh;
}

.anclajes-fabricacion {
    background-image: url(../img/banner_anclajes_fabricacion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 40vh;
}

.fabricacion-insertos {
    background-image: url(../img/banner_fabricacion_insertos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 40vh;
}

.greating {
    background-image: url(../img/banner_greating.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 40vh;
}

.piping {
    background-image: url(../img/banner_soportes-bridas_piping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 40vh;
}

.servicios-sujecion {
    background-image: url(../img/banner_servicios_sujecion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 40vh;
}

.linea {
    height: 2px;
    width: 70px;
    background-color: #F18008;
}

.linea-in {
    height: 2px;
    width: 70px;
    background-color: #ffffff;
}


.btn-estilo {
    font-weight: 700;
    font-size: 12px;
    background-color: #333333;
}

.bg-textura {
    background-image: url(../img/bg-textura.jpg);
}

.bg-textura-in {
    background-image: url(../img/bg-textura_in.jpg);
}

.icon {
    background-image: url(../img/iconos/iso-inicio.png);
    background-position: center;
    background-repeat: no-repeat;
}

#borde {
    border: solid 3px #F18008
}

.foto {
    width: 500px;
}

.bg-amarillo-footer {
    background-color: #F18008;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: auto;
    grid-gap: 10px;

}

.galeria img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}

.galeria a:hover img{
    
    transform: rotate(10deg) scale(1.3);
}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img {
    width: 75vw;
    max-height: 70vh;
    
}

.light-box:target{
    transform: scale(1);
}

.container-grid {
    display: grid;
    height: 150vh;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,5fr);
    grid-template-areas: 
    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img9"
    "img10 img11 img12"
    "img13 img14 img15"
    "img16 img17 img18"
    ;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
}

.img:hover{
    filter: opacity(50%);
    cursor: pointer;
    transition: filter .5s;
}

.img-1 {
    grid-area: img1;
}

.img-2 {
    grid-area: img2;
}
.img-3 {
    grid-area: img3;
}
.img-4 {
    grid-area: img4;
}
.img-5 {
    grid-area: img5;
}
.img-6 {
    grid-area: img6;
}

.container-img{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s ease-in;
}

.move{
    transform: translateX(0);
}

.fas.fa-times{
    position: absolute;
    color: #ffffff;
    top: 20px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}


.img-show{
    height: 80%;
    transform: scale(0);
    display: block;
    object-fit: cover;
    transition: transform .2s .4s;
}

.show{
    transform: scale(1);
}

@media (max-width: 575.98px) {

    .bg-amarillo {
        height:10vh;
        text-align: center;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    .bg-amarillo {
        height: 10vh;
        text-align: center;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .bg-amarillo {
        height: 10vh;
        text-align: center;
    }

 }